language: php

php:
    - 5.3.3
    - 5.3
    - 5.4
    - 5.5
    - hhvm

before_script:
    - composer self-update
    - composer install --prefer-source --no-interaction --no-progress

script: phpunit
